body{
    height: 100%;
    background-image: url('../img/windowbg.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}
 .screenicons{
     height: 5rem;
 }
.footer{
    background-color:rgb(59, 66, 77);
    bottom: 0;
    position:absolute;
    width: 100%;
    
}
.footer .winlogo{
    height: 1.5rem;
    margin:0.5rem;

}
.footer .search{
    margin: 0rem 0.5rem;
    width: 21.4rem;
    height: 40px;
}
.edge{
    width:1.2rem;
}
label{
    color: white;
}
.profile{
    width: 4.5rem;
}
.notice{
    display: none;
}
.modal-content{
    border-radius: 20px;
}
.modal-body{
    height: 10rem;
    background-color: skyblue;
    padding: 0.5rem 0.5rem;
    border-radius: 20px;
    color: black;

    
}
.white-body{
   
    background-color: white;
    height: 7rem;
    border-radius: 10px;
 
}
.error{
    height: 2rem;
    width: 2rem;
}
button{
    border: 5px;
    border-color: skyblue;
}
